@import "tailwindcss";

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --font-heading: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-sans);
  @apply bg-gray-900 text-white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
